<div class="row">
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{ member.created | date : "dd MMM yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Add</button>
          <button (click)="selectTab('Messages')" class="btn btn-primary">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab
        heading="About {{ member.knownAs }}"
        (selectTab)="onTabActivated($event)"
      >
        <div class="card-body">
          <div>
            <strong>Description: </strong>
            <p>{{ member.introduction }}</p>
          </div>
          <div>
            <strong>Role: </strong>
            <p>{{ member.gender }}</p>
          </div>
          <div>
            <strong>Location: </strong>
            <p>{{ member.city }}, {{ member.country }}</p>
          </div>
          <div>
            <strong>Experience: </strong>
            <p>{{ member.age }} years</p>
          </div>
          <div>
            <strong>Designation: </strong>
            <p>{{ member.interests }}</p>
          </div>
        </div>
      </tab>
      <!-- <tab heading="Experience" (selectTab)="onTabActivated($event)">
        <h4>Experienced In</h4>
        <p>{{ member.interests }}</p>
      </tab> -->
      <tab
        heading="Photos"
        #photoTab="tab"
        (selectTab)="onTabActivated($event)"
      >
        @if (photoTab.active) {
        <gallery [items]="images" class="gallery"></gallery>
        }
      </tab>
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <app-member-messages
          [username]="member.userName"
          [messages]="messages"
          (updateMessages)="onUpdateMessages($event)"
        ></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
